
.overviewer-map-ext.online-player-list {
    background: rgba(0, 0, 0, 0.6);
    padding: 16px;
    border-radius: 5px;
    position: absolute;
    top: 90px;
    left: 12px;
    min-width: 200px;
    z-index: 1000;
    color: #e8e6e3
}

.overviewer-map-ext.online-player-list h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

.overviewer-map-ext.online-player-list .no-players-online {
    font-size: 13px;
    font-style: italic;
}

.overviewer-map-ext.online-player-list .player-entry {
    display: flex;
    padding: 8px 4px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    user-select: none;
}

.overviewer-map-ext.online-player-list .player-entry.followed {
    background: black;
    border: 1px solid #555;
}

.overviewer-map-ext.online-player-list .player-icon {
    width: 28px;
    height: 28px;
    margin-right: 16px;
    align-self: center;
}

.overviewer-map-ext.online-player-list span {
    font-size: 14px;
    font-weight: bolder;
    flex: 1;
    align-self: center;
}

.overviewer-map-ext.online-player-list .dimension-icon {
    width: 24px;
    height: 25px;
    align-self: center;
}